body {
    background-color: rgb(182, 182, 182);
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: rgb(17, 17, 17);
}

.active {
    background-color: rgb(17, 17, 17)
}

.intro {
    margin: 10px;
}

div {
    background-color: rgb(228, 224, 224);
    width: 750px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(51, 51, 51);
    margin: auto;
}

h2 {
    text-align: center;
    padding: 20px;
}

p {
    text-align: justify;
    padding: 25px;
    border: 0;
    margin: 0;
}